.section.projects {
  padding: 20px;
  background-color: #f4f4f4;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.projects-list li {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.projects-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projects-list h3 {
  margin-top: 0;
  font-size: 1.25rem;
}

.projects-list a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.projects-list a:hover {
  text-decoration: underline;
  color: #1e90ff;
}

/** .projects-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-list li {
  background: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(33% - 20px);
  text-align: center;
} **/
